<template id="auth-bg-template">
    <div class="left-circle-visual visuals">
        <img src="/assets/visuals/visual4.png" alt="purple circle visual">
    </div>
    
    <div class="bounce-visual visuals">
        <img src="/assets/visuals/visual1.png" alt="bouncing arrow visual">
    </div>

    <div class="triangle-visual visuals">
        <img src="/assets/visuals/visual2.png" alt="triangle visual">
    </div>

    <div class="right-circle-visual visuals">
        <img src="/assets/visuals/visual3.png" alt="yellow circual visual">
    </div>

    <div class="purple-fading fading"></div>
    <div class="blue-fading fading"></div>
    <div class="yellow-fading fading"></div>
</template>