<link rel="stylesheet" href="/styles/dashboard/dashboard.css">

<section class="dashboard-container">
    <div class="dashboard-container__heading">
        <h1>Good evening, JOHN!</h1>
        <p>Here's what's happening with your productivity today</p>
    </div>

    <div class="dashboard-container__cards">
        <div class="dashboard-container__cards--card">
            <div class="card-header">
                <h4>Active Tasks</h4>
                <div class="card-header__svg" style="background: linear-gradient(to bottom, #155dfc, #4f39f6);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-check-big-icon lucide-square-check-big"><path d="M21 10.656V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12.344"/><path d="m9 11 3 3L22 4"/></svg>
                </div>
            </div>
            <div class="card-content">
                <h5>0</h5>
                <p>0 completed</p>
            </div>
        </div>
        <div class="dashboard-container__cards--card">
            <div class="card-header">
                <h4>Total Expenses</h4>
                <div class="card-header__svg tasks" style="background-color: var(--dark-cyan);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dollar-sign-icon lucide-dollar-sign"><line x1="12" x2="12" y1="2" y2="22"/><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"/></svg>
                </div>
            </div>
            <div class="card-content">
                <h5>$0.00</h5>
                <p>This period</p>
            </div>
        </div>
        <div class="dashboard-container__cards--card">
            <div class="card-header">
                <h4>Total Notes</h4>
                <div class="card-header__svg tasks" style="background-color: var(--dark-green);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text-icon lucide-notebook-text"><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/><path d="M9.5 8h5"/><path d="M9.5 12H16"/><path d="M9.5 16H14"/></svg>
                </div>
            </div>
            <div class="card-content">
                <h5>0</h5>
                <p>Saved notes</p>
            </div>
        </div>
        <div class="dashboard-container__cards--card">
            <div class="card-header">
                <h4>Completion rate</h4>
                <div class="card-header__svg tasks" style="background-color: var(--dark-blue);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up-icon lucide-trending-up"><path d="M16 7h6v6"/><path d="m22 7-8.5 8.5-5-5L2 17"/></svg>
                </div>
            </div>
            <div class="card-content">
                <h5>0%</h5>
                <p>Task completion</p>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/dashboard/dashboard.js"></script>