html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

body {
	font-family: ui-sans-serif, system-ui, sans-serif;
}

:root {
	--border-color: #e5e7eb;
    --primary-color: #155dfc;
	--primary-bg-color: #fbf9fa;
	--grey-bg-color: #f6f3f4;
    --btn-bg-color: #3b82f6;
	--dark-grey-text-color: #101828;
	--grey-text-color: #4a5565;
	--light-grey-text-color: #6a7282;
	--light-grey-color: #99a1af;
	--light-text-color: #1e293b;
	--light-indigo: #c6d2ff;
	--semi-light-indigo: #a3b3ff;
	--red-color: #e7000b;
	--light-red-bg: #fef2f2;
	--light-blue-bg: #dbeafe;
	--light-green-bg: #dcfce7;
	--light-cyan-bg: #cefafe;
	--dark-cyan: #0092b8;
	--dark-green: #00a63e;
	--dark-blue: #4f39f6;
	--text-xlg: 1.875rem;
	--text-lg: 1.5rem;
	--text-m: 1rem;
	--text-mm: 1.125rem;
	--text-s: 0.875rem;
	--text-xs: 0.75rem;
}

.dashboard-layout {
	display: flex;
	height: 100vh;
}

main {
	flex: 1;
	padding: 2.15rem;
	background-color: var(--primary-bg-color);
	overflow-y: auto;
    height: 100vh;
}

/* mobile menu header - hidden on desktop */
.mobile-menu-header {
    display: none;
}

.sidebar-overlay {
    display: none;
}

@media screen and (max-width: 768px) {
	:root {
		font-size: 0.8rem;
	}

	/* show mobile menu header */
    .mobile-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.9rem;
        border-bottom: 1px solid var(--border-color);
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .mobile-menu-header__logo {
        display: flex;
        align-items: center;
        gap: 0.625rem;
    }

    .mobile-menu-header__logo h1 {
        font-weight: bold;
        font-size: 1.125rem;
    }

    .mobile-menu-header__logo svg {
        color: white;
        background: linear-gradient(to bottom, #155dfc, #4f39f6);
        padding: 10px;
        border-radius: 8px;
        height: 20px;
        width: 20px;
    }

    .mobile-menu-header button {
        border: none;
        background-color: transparent;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobile-menu-header button svg {
        height: 1.5rem;
        width: 1.5rem;
        color: #364153;
    }

    .mobile-menu-header button:hover {
        background-color: #eef2ff;
    }

    .mobile-menu-header button:hover svg {
        color: #4f39f6;
    }

    /* dashboard layout for mobile */
    .dashboard-layout {
        display: block;
        width: 100%;
    }

    #root__main {
        width: 100%;
        padding: 10px 0;
    }
}