html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

body {
	font-family: ui-sans-serif, system-ui, sans-serif;
}

:root {
	--border-color: #e5e7eb;
    --primary-color: #0028ff;
	--primary-bg-color: #f8f9fa;
	--dark-grey-text-color: #101828;
	--grey-text-color: #4a5565;
	--light-grey-text-color: #6a7282;
	--light-text-color: #1e293b;
	--red-color: #e7000b;
	--light-red-bg: #fef2f2;
	--light-blue-bg: #dbeafe;
	--light-green-bg: #dcfce7;
	--light-cyan-bg: #cefafe;
	--dark-cyan: #0092b8;
	--dark-green: #00a63e;
	--dark-blue: #4f39f6;
	--text-xlg: 1.875rem;
	--text-lg: 1.5rem;
	--text-m: 1rem;
	--text-s: 0.875rem;
	--text-xs: 0.75rem;
}

.dashboard-layout {
	display: flex;
	height: 100vh;
}

main {
	flex: 1;
	padding: 2.15rem;
	background-color: var(--primary-bg-color);
}

@media (max-width: 768px) {
	:root {
		font-size: 0.8rem;
	}
}